<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Contact List</h1>
      <table id='contacts-table'>
        <thead>
          <tr>
            <th data-field="firstname">First Name</th>
            <th data-field="lastname">Last Name</th>
            <th data-field="phone">Phone</th>
            <th data-field="email">Email</th>
          </tr>
        </thead>
        <tbody class="contacts-list">
        </tbody>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a id="reveal-form" class="waves-effect waves-light btn">New</a>
    </div>
  </div>
  <div id="contact-form" class="container">
  </div>



  </table>


  <!-- new
  show
  edit
  delete -->
  <%= yield %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>
</html>
